<p>employee-update works!</p>
<form [formGroup]="updateForm" (ngSubmit)="onSubmit()"> 
 
    <div class="jumbotron"style="text-align:center" >
    <h5 style="text-align: center; color: darkviolet;">! Update Here !</h5>
    <table class="table table-dark center " style="text-align:center" >
    <tr>
    <td> Name</td>
    <td> <input type="text" formControlName="ename" placeholder="enter name"></td>
    </tr>
    <tr>
    <td> Email</td>
    <td> <input type="text" formControlName="email" placeholder="enter email"></td>
    </tr>
    <tr>
    <td> Mobile</td>
    <td> <input type="text" formControlName="mobile" placeholder="enter mbole no"></td>
    </tr>
    <tr>
    <td> Designation</td>
    <td> <input type="text" formControlName="designation" placeholder="enter Designation"></td>
    </tr>
    <tr>
    <td> Username</td>
    <td> <input type="text" formControlName="username" placeholder="enter username"></td>
    </tr>
    <tr>
    <td> password</td>
    <td><input type="password" formControlName="password" placeholder="enter password"></td>
    </tr>
    </table>
    <button class="btn btn-primary" type="submit">Update</button>&nbsp;&nbsp;
    <button class="btn btn-primary" type="submit" (click)="goBack()"> back </button>
   </div>
   </form>   
<router-outlet></router-outlet>
